﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "About";
}

<h2>About Page</h2>



<p>This class project website is for educating and preparing Team Pyrus for their group project</p>
 
<br>
<p>This class project is about providing users to create their own headlines on our website so they can have a good time, make people laugh, and see how popular they can get.</p>

