﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create a new headline</h2>

<form action="Create" method="post">
    <input type="text" name="Headline" />


    <input type="submit" value="Submit" />
</form>

