﻿@model IEnumerable<HeadlinesApp.Models.HeadlineModel>

@{
    ViewBag.Title = "Headlines App";
}

<h2>Jon edited this</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Headline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.likes)
        </th>
    </tr>
@{ 
    int count = 0;
}
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Headline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.likes)
            @Html.ActionLink("Like", "Like", new { id = count++ })

        </td>
    </tr>
}

</table>
